<h1>Contact Us</h1>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
  <div class="form-horizontal contact-group col-sm-12 col-md-offset-3">
    <div id= "contact-name" class="form-group contact-name">
      <%= text_field :name, nil, class: "form-control", placeholder: "Enter Name", required: "", oninvalid: "this.setCustomValidity('Enter your name')" %>
    </div>      
    <div id="contact-email" class="form-group contact-email">
      <%= email_field :email, nil, class: "form-control", placeholder: "Enter Email", required: "", oninvalid: "this.setCustomValidity('Enter your email')" %>
    </div>
    <div id="contact-message" class="form-group contact-message">
      <%= text_area :message, nil, class: "form-control", placeholder: "Enter Message", required: "", oninvalid: "this.setCustomValidity('Enter a message')" %>
    </div>      
    <%= submit_tag "Send" , id: "btn", class: "btn btn-large btn-primary btn-block"%>   
  </div>
<% end %>
