<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal col-md-6 col-md-offset-3">
    <div class="form-group">
      <%= f.text_field :name, placeholder: "Name", class: "form-control", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.text_field :colour, placeholder: "Color", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.text_area :description, placeholder: "Description", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.url_field :image_url, placeholder: "Image Url", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.number_field :price, placeholder: "Price", in: 1...50000, step: 1, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-large btn-primary btn-block" %>
    </div>
  </div>

<% end %>
