<div class="showImage">
  <p id="notice"><%= notice %></p>

  <div id="product-title">
    <p>
      <h2> <%= @product.name %> </h2><br/>
      <strong>Color:</strong>
      <%= @product.colour %>
    </p>
  </div>

  <div class="product-image col-md-8">
    <%= image_tag @product.image_url, class: "img-responsive" %>
  </div>

  <div class="col-md-4 product-description text-center">
    <p>
      <h3><strong>Description:</strong>
      <%= @product.description %></h3>
    </p>
  
    <p>
      <h3><strong>Price: $
      <%= @product.price %></strong></h3>
    </p>
  </div>

  <div class="col-md-12">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
</div>
