<div class="showImage">
  <div id="product-title" class="col-md-12">
    <p>
      <h2> <%= @product.name %> </h2><br/>
      <strong>Color:</strong>
      <%= @product.colour %>
    </p>
  </div>

  <div class="product-image col-md-8">
    <%= image_tag @product.image_url, class: "img-responsive" %>
  </div>

  <div class="col-md-4 product-description text-center">
    <p>
      <h3><strong>Description:</strong>
      <%= @product.description %></h3>
    </p>
  
    <p>
      <h3><strong>Price: $
      <%= @product.price %></strong></h3>
    </p>
 
    <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
  </div>

  <div class="col-md-12">
    <p>
      <%= render 'new_comments', product: @product %>
    </p>
  </div>

  <div class="col-md-12">
    <p>
      <%= render 'comments' %>
    </p>
  </div>

  <div class="col-md-12">
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <% if current_user.admin? %>
        <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are Your Sure?' } %> |
      <% end %>
    <% end %>
    <%= link_to 'Back', products_path %>
  </div>
</div>
